* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 40%; } }

.container {
  display: grid;
  background-color: #f7f9fd;
  overflow-x: hidden; }

.btn {
  font-size: 1.4rem;
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 400; }

.text {
  font-family: "Open Sans";
  font-weight: 400;
  color: #808d99;
  line-height: 1.5; }
  .text--cta {
    font-family: "Poppins"; }
  .text--wide {
    display: inline-block;
    grid-column: 1 /-1; }

.main__heading {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 3rem;
  color: #00252e; }

.about__heading, .cta__heading {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 2.5rem;
  color: #00252e; }

.cta__heading {
  font-size: 3rem; }

.subscribe__heading {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: #f7f9fd; }

.subscribe > .text {
  color: #f7f9fd; }

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: #00252e;
  padding: 8rem;
  grid-gap: 3.5rem; }
  .footer__socialmedia {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2, min-content) 180px;
    grid-template-rows: repeat(2, min-content);
    color: #f7f9fd; }

.list {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 10rem;
  grid-row-gap: 1rem;
  list-style: none;
  color: #f7f9fd;
  font-family: "Open Sans"; }

.header {
  display: flex;
  padding: 7rem;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/-1;
  grid-row: 1/2; }

.main {
  display: grid;
  justify-items: center;
  grid-row-gap: 3rem;
  padding: 5rem 25rem;
  text-align: center;
  grid-column: 1/-1;
  grid-row: 2/3; }
  .main__illustration {
    width: 90%; }

.mg-bt-sm {
  margin-bottom: 2.5rem; }

.mg-bt-md {
  margin-bottom: 3.5rem; }

.mg-bt-lg {
  margin-bottom: 4rem; }

.mg-bt-exsm {
  margin-bottom: 1rem; }

.mg-bt-exlg {
  margin-bottom: 10rem; }

.u-txt-sm {
  font-size: 1.4rem; }

.u-txt-big {
  font-size: 1.8rem; }

.u-txt-exsm {
  font-size: 1rem; }

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-column-gap: 10rem;
  padding: 12rem;
  margin-top: 30rem; }
  .about__illustration {
    width: 100%; }
  .about__descriptionbox {
    display: grid;
    align-items: center;
    grid-row-gap: 4rem; }

.logo--white {
  grid-column: 1/-1; }

.btn {
  border-radius: 2%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
    .btn:hover::before {
      opacity: 0.1;
      height: 100%;
      width: 100%; }
  .btn::before {
    content: "";
    display: inline-block;
    background-color: lightpink;
    opacity: 0;
    height: 1px;
    width: 1px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .btn--white {
    padding: 1rem 6rem;
    background-color: white;
    color: #9a52ff;
    animation: pulsate 1s infinite; }
  .btn--pink {
    background-color: #ff52bf;
    color: white;
    padding: 1.5rem 7rem; }
  .btn--small {
    border: none;
    padding: 1.5rem 5rem;
    animation: pulsate 1s infinite; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25rem; }
  .cta__box {
    display: inline-block;
    padding: 6rem 7rem 10rem 7rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.decoration-1 {
  grid-row: 1 / 3;
  grid-column: 1 /-1;
  background-image: linear-gradient(to right, #ff52bf, #9a52ff);
  border-radius: 8%;
  transform: translateX(650px) translateY(-350px) rotate(50deg);
  z-index: -1; }

.decoration-2 {
  grid-row: 2 / 3;
  grid-column: 1 /-1;
  background-color: white;
  border-radius: 10%;
  width: 100%;
  z-index: -2;
  transform: rotate(-25deg) translateY(70px); }

.subscribe__inputfield {
  border: none;
  padding: 1.5rem;
  border-radius: 2%;
  width: 100%;
  transition: all 0.2s; }
  .subscribe__inputfield:focus {
    border: 4px solid rgba(0, 37, 46, 0.8);
    transition: all 0.2s; }
