.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: $color-footer;
    padding: 8rem;
    grid-gap: 3.5rem;
    width: 100vw;
    @media only screen and (max-width: 600px) {
        padding: 3rem;
    
      }

    &__socialmedia{
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(2, min-content) 180px;
        grid-template-rows: repeat(2, min-content);
        color: $color-neutral-1;
        
    }
    
}

.list {
        
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-column-gap: 10rem;
        grid-row-gap: 1rem;
        list-style: none;
        color: $color-neutral-1;
        font-family: $font-body;

}


