.main{
    display: grid;
    justify-items: center;
    grid-row-gap: 3rem;
    padding: 5rem 25rem;
    text-align: center;
    grid-column: 1/-1;
    grid-row: 2/3;
    width: 100vw;
    @media only screen and (max-width: 600px) {
        padding: 5rem;
    
      }
    &__illustration{
        width: 90%;
    }

    
}

