.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap: 10rem;
    padding: 12rem;
    margin-top: 30rem;
    width: 100vw;
    @media only screen and (max-width: 600px) {
        margin-top: 7rem;
        grid-row-gap: 10rem;
        text-align: center;
        padding: 6rem;
      }
    &__illustration{
        width: 100%;
    }

    &__descriptionbox{
        display: grid;
        align-items: center;
        grid-row-gap: 4rem;
        @media only screen and (max-width: 600px) {
            grid-row-gap: 8rem;
          }
    }
}