.btn {
    border-radius: 2%;
    box-shadow: 0 1rem 2rem rgba(black, 0.2);
    
  &--white {
    padding: 1rem 6rem;
    background-color: white;
    color: $color-secondary;
    
  }
  &--pink{
    background-color: $color-primary;
    color: white;
    padding: 1.5rem 7rem;
  }
  &--small{
    border: none;
    padding: 1.5rem 5rem;
  }
}

