.subscribe{
   
    &__inputfield{
        border: none;
        padding: 1.5rem;
        border-radius: 2%;
        width: 100%;
        transition: all 0.2s;

        &:focus{
            border: 4px solid rgba($color-footer, 0.8);
            transition: all 0.2s;
        }
    }


}

