.mg-bt-sm{
    margin-bottom: 2.5rem;
}

.mg-bt-md{
    margin-bottom: 3.5rem;
}

.mg-bt-lg{
    margin-bottom: 4rem;
}

.mg-bt-exsm{
    margin-bottom: 1rem;
}

.mg-bt-exlg{
    margin-bottom: 10rem;
}

.u-txt-sm{
    font-size: 1.4rem;
}

.u-txt-big{
    font-size: 1.8rem;
}

.u-txt-exsm{
    font-size: 1rem;
}